.red {background:red;}
.blue {background:blue;}
.yellow {background:yellow;}

.log {height: 390px;overflow-y: scroll;}
#stats-summary {padding: 0 0 10px 0; margin: 0;}
#hero-name {padding: 0; margin: 0;}